# General
.env


# traefik/
acme.json


# vaultwarden/
/vaultwarden/data/*


# qbittorrent-vpn/
/qbittorrent-vpn/config/*
/qbittorrent-vpn/config/qBittorrent/config/categories.json

!/qbittorrent-vpn/config/perms.txt
!/qbittorrent-vpn/config/wireguard/wg0.conf.example
!/qbittorrent-vpn/config/qBittorrent/config/qBittorrent.conf


# papermc-server/
/papermc-server/data/*

!/papermc-server/data/eula.txt
!/papermc-server/data/commands.yml
!/papermc-server/data/server.properties
!/papermc-server/data/version_history.json
!/papermc-server/data/bukkit.yml
!/papermc-server/data/permissions.yml
!/papermc-server/data/spigot.yml


# homeassistant/
/homeassistant/config/*

!/homeassistant/config/configuration.yaml
!/homeassistant/config/automations.yaml


# jdownloader/
/jdownloader/config/*
# TODO: add the manual dark theme thingy from Reddit


# searxng/
/searxng/config/*
# TODO: actually figure out what can be pushed


# authelia/
/authelia/config/*

# uptimekuma/
/uptimekuma/data/*

# wgeasy/
/wgeasy/config/*

# TODO: actually figure out what can be pushed