[Interface]
PrivateKey = <secret_key>
ListenPort = 59553
MTU = 1391
DNS = 1.1.1.1
Address = x.x.x.x/24

[Peer]
PublicKey = <public_key>
AllowedIPs = 0.0.0.0/0
Endpoint = x.x.x.x:1443
PersistentKeepalive = 25