{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 56.122906,
    "longitude": 10.182816,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Home",
    "time_zone": "Europe/Copenhagen",
    "external_url": null,
    "internal_url": null,
    "currency": "DKK",
    "country": "DK",
    "language": "en"
  }
}